[Desktop Entry]
Type=Application
Name=RoleEngineA2
Comment=A Game Engine Made On Top Of Pygame
Exec=./RoleEngineA2-x86_64.AppImage
Icon=RoleEngineA2
Terminal=false
Categories=Development;
